
#containerED{
	margin-left: -0.75%
}
.panel.panel-default {
  width:100%;
  /*margin-right: 10px;*/
  border-radius: 0px;
  box-shadow: 0px 0px 10px #888;
  min-height: 150px;
 /* border-color: #266590;*/
}
.panel.panel-blue .panel-heading {
  border-radius: 0px;
  color: #FFF;
/*  background-color: #266590;*/

}
.panel.panel-blue .panel-body {
 /* background-color: #F2F2F2;*/
  color: #4D4D4D;
}
