.navbar-nav>li>a.profile-image {
    padding-top: 10px;
    padding-bottom: 10px;
}

.createEvent{
	background-color: #d61152;
	color: #848182;
	
}
img {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: block;
    margin: auto;
    vertical-align: middle;
}

.btn-info{
	margin-left: 20px;
}