.user {
    border-style: solid;
    border-width: 4px;
    width: 100%;
}

.profile {
    display: inline-block;
    width: 18%;
    height: 200px;
    margin: 15px;
    float:left;
}

.info {
    display: inline-block;
    width: 15%;
    height: 200px;
    margin: 15px;
    float:left;
}

.aboutme {
    display: inline-block;
    width: 35%;
    height: 200px;
    margin: 15px;
    float:left;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
}

.flakescore {
    display: inline-block;
    width: 18%;
    height: 200px;
    margin: 15px;
    float:left;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 80px;
    border-radius: 50%;
    background-color: red;
    color: white;
}

.userloc {
    padding-bottom: 4px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    font-size: 16px;
}

.wrapper {
    width: 90%;
    height: 90%;
    vertical-align: middle;
    display: inline-block;
}

.wrapper img {
     border-radius: 50%;
     width: 150px;
     height: 150px;
     display:block;
     margin: auto;
    vertical-align: middle;
 }